* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

header {
    z-index: 1;
    position: relative;
}

header,
footer {
    background: #ccc;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
header,
footer {
    font-family: "Sansita", sans-serif
}

.page {
    height: 100vh;
}

#backToTop {
    position: fixed;
    right: .5rem;
    top: .5rem;
    padding: .25rem;
    text-decoration: none;
}

#contactForm input,
#contactForm textarea {
    display: block;
    margin: .5rem;
}

nav a {
    display: inline-block;
    padding: .25rem;
    text-decoration: none;
}

.fa {
    font-size: 22px;
}